.register-form{
    justify-content: center;
    margin:auto;
    border: 1px solid grey;
    border-radius: 8px;
    width:600px;
    padding: 2rem;
    margin-top: 5rem;
}
.form-inputs label{
    display: flex;
    font-weight: bold;
}
.form-inputs input,select{
  /* display: flex; */
  width:100%;
}
.form-inputs{
    margin-bottom: 1rem;
}
.form-radios{
  display: flex;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.login-form button{
    text-align: center;
}